@model LoginViewModel
@{
    ViewData["Title"] = "Вход";
}
@{
    Layout = null;
}
<head>
    <link href="~/css/bootstrap.min.css" type="text/css" rel="stylesheet" />
    <link href="~/css/StyleSheet.css" type="text/css" rel="stylesheet" />

</head>
<body>
    <h1 style="text-align:center; margin-top:100px;">Вход</h1>
    <form method="post" asp-controller="Account" asp-action="Login" asp-route-returnUrl="@Model.ReturnUrl" class="text-center">
        <div asp-validation-summary="All"></div>

        <div class="form-group">
            <label asp-for="Username"></label>
            <input asp-for="Username" type="email" />
            <span asp-validation-for="Username"></span>
        </div>

        <div class="form-group">
            <label asp-for="Password"></label>
            <input asp-for="Password" type="password" />
            <span asp-validation-for="Password"></span>
        </div>

        <div class="form-group">
            <label asp-for="RememberMe"></label>
            <input asp-for="RememberMe" />
        </div>

        <div class="form-group">
            <input type="submit" value=" Войти" class="btn btn-outline-success" />
            <a asp-controller="Account" asp-action="Register" class="btn btn-outline-info">Регистрация</a>
        </div>
    </form>

</body>
