@model List<Stocktaking.Data.Models.Item>
@{
    ViewData["Title"] = "Списание вещей";
}

<h1>Списание вещей</h1>

<form method="post" asp-action="DeleteItemsDisplacements" asp-controller="Displacement">
    <table class="table">
        <tr>
            <th>Название</th>
            <th>Инвентарный номер</th>
            <th>Статус</th>
            <th>Списание</th>
        </tr>
        @foreach(var item in Model)
        {
            <tr>
                <td>@item.Name</td>
                <td>@item.InventoryNumber</td>
                <td>@item.Status</td>
                <td><input name="items" type="checkbox" value="@item" /> <br /></td>
            </tr>
        }
    </table>
</form>

