@model AddOrganiztionViewModels 
@{
    ViewData["Title"] = "AddOrganization";
}

<h1>Добавление организации</h1>

<br />

<form method="post" asp-action="AddOrganization" asp-controller="Organization">
    <div asp-validation-summary="All"></div>
    <div class="form-group">
        <label asp-for="Name"></label><br />
        <input asp-for="Name" />
        <span asp-validation-for="Name"></span>
    </div>
    <input type="hidden" asp-for="Username" value="@User.Identity.Name" /> <br />

    <input type="submit" value="Добавить" class="btn btn-outline-primary" /> 
</form>

